.course_section {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 60px);
  padding: 30px 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 620px) {
  .course_section {
    padding: 30px 10px;
  }
}

.banner {
  width: 100%;
  height: 300px;
  background-color: #03ef62;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  overflow: hidden;
  border-radius: 5px;
}

.banner .title {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner .title p {
  color: #05192d;
  font-weight: 800;
  margin: 0px 0px 16px;
  white-space: normal;
  letter-spacing: 0px;
  line-height: 1.25;
  font-size: 28px;
}

.banner .banner_tag {
  background-color: #04193c;
  height: 35px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
}

.banner .banner_tag::after {
  content: '';
  background-color: #04193c;
  height: 35px;
  width: 200px;
  left: -100px;
  position: absolute;
  z-index: 0;
}

.banner .banner_tag p {
  font-style: normal;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  z-index: 5;
}

.banner .para {
  width: 60%;
}

@media (max-width: 920px) {
  .banner .para {
    width: 100%;
  }
}

.banner .para p {
  color: #05192d;
  font-family: Studio-Feixen-Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
  font-size: 18px;
}

@media (max-width: 520px) {
  .banner .para p {
    font-size: 14px;
  }
}

.courses_section {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	flex-wrap: wrap; */
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 25px;
  grid-auto-flow: dense;
  padding: 10px;
  min-height: 100%;
}

@media (max-width: 850px) {
  .courses_section {
    place-items: center;
  }
}

@media (max-width: 510px) {
  .courses_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.courses_section .courses_card {
  position: relative;
  width: 300px;
  height: 450px;
  background-color: #f6f6f6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.courses_section .courses_card .course_icon {
  position: absolute;
  left: 15px;
  top: -20px;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.courses_section .courses_card .course_icon img {
  width: 40px;
  z-index: 5;
}

.courses_section .courses_card .course_name {
  width: 100%;
  margin-top: 10px;
}

.courses_section .courses_card .course_name h2 {
  font-style: normal;
  color: #05192d;
  font-weight: 800;
  margin: 0px;
  white-space: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.25;
  margin-bottom: 5px;
}

.courses_section .courses_card .course_name p {
  color: #05192d;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
  font-size: 16px;
}

.courses_section .courses_card .course_name .time {
  margin: 15px 0;
}

.courses_section .course_teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.courses_section .course_teacher img {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.courses_section .course_teacher .name_sec {
  margin-left: 10px;
}

.courses_section .course_teacher .name_sec h2 {
  color: #05192d;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5;
  font-size: 14px;
}

.courses_section .course_teacher .name_sec p {
  color: #05192d;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
/*# sourceMappingURL=courses.css.map */