.my_progess_section {
	width: 100%;

	max-height: calc(100vh - 60px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	overflow: scroll;
	margin: 0 auto;
	@media (max-width: 700px) {
		max-height: 100%;
	}
}

.my_progess_header {
	height: 40px;
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 20px auto;
	border-bottom: solid 1.5px rgb(173, 173, 173);
	h1 {
		font-size: 1.2rem;
		margin: 0 20px 0 0;
		text-transform: capitalize;
		font-weight: 600;
		cursor: pointer;
		position: relative;
		height: 100%;
	}
}

.activeSlide {
	border-bottom: solid 3px #000;
	color: #cd27ff;
}

.my_progess_first_cards_holder {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto;
	@media (max-width: 900px) {
		justify-content: center;
	}
}
.my_progess_first_card {
	width: 32%;

	height: 220px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 20px 10px 20px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: 1.2rem;
	}
	@media (max-width: 900px) {
		width: 90%;
	}
}
.my_progess_first_card_header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	img {
		width: 30px;
		height: 30px;
		object-fit: contain;
		border-radius: 60%;
		margin-left: 10px;
	}
	h1 {
		font-size: 1rem;
		margin-left: 10px;
	}
}
.my_progess_first_card_body {
	width: 90%;
	display: grid;
	place-items: center;
	p {
		font-size: 0.8rem;
		color: rgb(65, 65, 65);
	}
}
.slideTabContent {
	display: none;

	h6 {
		margin: auto;
		font-weight: 600;
		font-size: 1rem;
		letter-spacing: 1px;
	}
}
.nocontent {
	min-height: 300px;
}
.my_progess_first_card_footer {
	width: 100%;
	height: 50px;
	display: grid;
	place-items: center;
	button {
		width: 90%;
		height: 40px;
		border: none;
		outline: none;
		background: #cc00ff;
		border-radius: 20px;
		color: #000;
		font-weight: 600;
		font-size: 1rem;
	}
}
.my_progress_second_section_holder {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 20px auto;

	@media (max-width: 1000px) {
		flex-direction: column;
	}
}
.my_progress_your_buddy_holder {
	width: 65%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.my_progress_second_cards_header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		font-size: 1.1rem;

		text-transform: capitalize;
		font-weight: 600;
	}
}
.second {
	justify-content: flex-end;
}
.my_progress_campus_holder {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
}
.my_progress_second_card_holder {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.my_progess_second_card {
	width: 26%;
	height: 150px;
	background: rgb(255, 255, 255);
	border: 1px solid #000;
	margin: 0px 0px 20px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 20px;
	h1 {
		font-size: 1rem;
	}
	span {
		margin-right: 10px;
	}
	h2 {
		font-size: 1.2rem;
		color: #7933ff;
	}
	@media (max-width: 700px) {
		width: 90%;
	}
}
.my_progress_third_card {
	width: 87%;
	min-height: 120px;
	margin: 30px auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px;
	flex-direction: column;
	background: #7933ff;
	position: relative;
	h1 {
		font-size: 1.2rem;
		color: #fff;
		width: 90%;
		font-weight: 500;
	}
	button {
		width: 150px;
		height: 40px;
		outline: none;
		border: none;
		font-weight: 600;
		margin-top: 20px;
		border-radius: 10px;
	}
	p {
		position: absolute;
		top: 30px;
		right: 30px;
		color: #fff;
		font-weight: 600;
	}
}
.my_progess_trending_holder {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto;
	@media (max-width: 900px) {
		justify-content: center;
	}
}
.my_progress_trending_header {
	width: 90%;
	height: 30px;
	margin: 20px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	h1 {
		font-size: 1.2rem;
		margin: 0 20px 0 0;
		text-transform: capitalize;
		font-weight: 600;
	}
}
.my_progess_trending_card_options_holder {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.my_progess_trending_card_option {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;
	p {
		font-size: 0.7rem;
		color: rgb(68, 68, 68);
		margin-left: 6px;
		font-weight: 600;
		white-space: nowrap;
	}
}
.my_progess_trending_card {
	width: 31%;
	height: 180px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 20px 20px 20px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	h1 {
		font-size: 1.2rem;
	}
	@media (max-width: 900px) {
		width: 90%;
	}
}
.my_progess_trending_card_header {
	width: 95%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	img {
		width: 30px;
		height: 30px;
		object-fit: contain;
		border-radius: 60%;
		margin-left: 10px;
	}
}
.my_progess_trending_card_body {
	width: 90%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;

	h1 {
		font-size: 1.2rem;
		font-weight: 600;
	}
}
.my_progress_trending_card_footer {
	width: 100%;
	height: 70px;
	display: grid;
	place-items: center;
	border-top: solid 1px rgb(207, 207, 207);
	button {
		width: 90%;
		height: 35px;
		border: 1px solid rgb(0, 0, 0);
		outline: none;
		background: none;
		border-radius: 5px;
		color: #000;
		font-weight: 600;
		font-size: 1rem;
		cursor: pointer;
	}
}
#completed {
	border: dotted 1px rgb(39, 39, 39);
	background-color: rgba(4, 4, 255, 0.048);
}
