.feed_section {
	width: 100%;
	max-height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: scroll;
	margin: 0 auto;
	@media (max-width: 700px) {
		max-height: 100%;
	}
}
.feed_container {
	width: 70%;
	height: 100%;
	margin-top: 20px;
	@media (max-width: 700px) {
		width: 100%;
	}
	.title {
		width: 100%;
		padding: 0 10px;
		margin-bottom: 20px;
		p {
			font-size: 0.8rem;
			color: rgb(99, 95, 95);
		}
	}
	.feed_input_conatiner {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 10px;
		box-sizing: border-box;
		height: 280px;
		@media (max-width: 700px) {
			width: 90%;
			margin: 0 auto;
		}
		.profile {
			height: 100%;
			width: 50px;
			img {
				width: 35px;
				object-fit: cover;
				height: 35px;
				border-radius: 50%;
			}
		}
		.feed_input_box {
			width: 100%;
			background-color: aliceblue;
			height: 100%;
			box-shadow: rgba(70, 71, 71, 0.3) 0px 0px 0px 3px;
			border-radius: 5px;
			.feed_title {
				display: flex;
				align-items: center;
				padding: 5px 10px;
				span {
					color: rgb(151, 150, 150);
					font-size: 0.9rem;
				}
				.title_name {
					padding: 0 3px;
					p {
						height: 18px;
						width: 140px;
						padding: 0;
						overflow: hidden;
						position: relative;
						display: inline-block;
						margin: 0 5px 0 5px;
						text-align: center;
						text-decoration: none;
						text-overflow: ellipsis;
						white-space: nowrap;
						color: #000;
						font-weight: 600;
					}
				}
			}
		}
	}
}
.add_tags {
	display: flex;
	align-items: center;
	width: 50%;
	overflow: hidden;
	.tag-disp {
		display: flex;
		.tag {
			min-width: 40px;
			height: 30px;
			margin-right: 2px;
			border: 2px solid #cc39ac;
			font-size: 0.7rem;
			padding: 5px;
			display: grid;
			place-items: center;
			cursor: pointer;
			color: #cc39ac;
		}
	}
	input {
		border: none;
		width: 200px;
		height: 30px;
		outline: none;
		display: flex;
		align-items: center;
	}
}
.feed_textarea {
	width: 100%;
	padding: 10px;
	overflow: hidden;
	textarea {
		width: 100%;
		height: 150px;
		border: none;
		outline: none;
		padding: 5px;
		resize: none;
	}
}
.post_feed {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	.icons {
		width: 150px;
		img {
			object-fit: contain;
			width: 30px;
			cursor: pointer;
		}
	}
	button {
		width: 80px;
		height: 35px;
		background-color: #e95bca;
		border: none;
		outline: none;
		border-radius: 5px;
		color: #fff;
		&:hover {
			background-color: #cc39ac;
			cursor: pointer;
		}
	}
}
.post_section {
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	.post_box {
		width: 80%;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		min-height: 300px;
		padding: 20px;
		border-radius: 8px;
		margin-bottom: 15px;
		@media (max-width: 700px) {
			width: 100%;
		}
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
		.avater_section {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.profile {
				display: flex;
				align-items: center;
				img {
					width: 40px;
					border-radius: 50%;
					height: 40px;
				}
				.name {
					margin-left: 15px;
					p {
						font-weight: 600;
						font-size: 0.9rem;
					}
					span {
						font-size: 0.7rem;
					}
				}
			}
			.more {
				font-size: 2rem;
				cursor: pointer;
			}
		}
		.para {
			width: 100%;
			margin-top: 10px;
			font-size: 0.85rem;
			color: #333;
		}
		.photo {
			width: 100%;
			margin: 10px 0;
			img {
				width: 100%;
				object-fit: contain;
			}
		}
	}
}
.post_tages {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.tags_box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.tags {
			margin-right: 5px;
			font-size: 0.8rem;
			font-weight: 600;
			border: 1px solid #e95bca;
			padding: 4px;
			color: #cc39ac;
		}
	}
	.time {
		p {
			font-size: 0.8rem;
			color: #333;
		}
	}
}
.post_icon_conatiner {
	width: 100%;
	height: 40px;
	margin-top: 20px;
}
.post_icons {
	width: fit-content;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	img {
		width: 20px;
		object-fit: contain;
	}
	.icon {
		display: flex;
		align-items: center;
		min-width: 90px;
		width: fit-content;
		height: 100%;
		padding: 0px 5px;
		cursor: pointer;
		border-radius: 5px;
		span {
			margin-left: 8px;
		}
		&:hover {
			background-color: #dbd9d9;
		}
	}
}
.comment_section {
	width: 100%;
	height: fit-content;
	padding: 5px;
	display: none;
	.comment_input {
		display: flex;
		align-items: center;
		justify-content: space-around;
		img {
			width: 45px;
			height: 45px;
			border-radius: 50%;
		}
		input {
			width: 90%;
			height: 40px;
			border: none;
			outline: none;
			border-radius: 25px;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px,
				rgb(209, 213, 219) 0px 0px 0px 2px inset;
			padding: 0 15px;
		}
	}
	.comments_box {
		padding: 15px 5px;
		width: 100%;
		.comment {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 10px;
			img {
				width: 35px;
				height: 35px;
				border-radius: 50%;
			}
			.comment_info {
				background-color: #dfdddd;
				width: 90%;
				border-radius: 5px;
				padding: 10px;
				overflow: hidden;
				.comment_name {
					p {
						font-weight: 600;
						font-size: 0.9rem;
					}
					span {
						color: rgb(112, 109, 109);
						font-size: 0.7rem;
					}
				}
				.para {
					p {
						width: 100%;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}
	}
}
.more_section {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.24);
	top: 0;
	left: 0;
	display: none;
	place-items: center;
	.more_container {
		width: 350px;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 8px;
		.more_item {
			width: 100%;
			height: 50px;
			display: grid;
			place-items: center;
			border-bottom: 1px solid rgb(207, 207, 207);
			cursor: pointer;
			#red{
				color:rgb(214, 34, 34);

			}
			p {
				font-size: 0.8rem;
				font-weight: 600;
				text-transform: capitalize;
			}
		}
	}
}
